{% extends "layout.html" %}

{% block body %}
<script>
    var counter = 0;
    var totalLecture;
    function moreFields() {
        var newFields = document.getElementById('readroot').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        const deleteBtn = newFields.querySelector("#removeFieldBtn")
        console.log(deleteBtn)
        deleteBtn.addEventListener("click", () => { deleteField(deleteBtn) })
        const newField = newFields.querySelectorAll(".clone-input-container > input");
        for (var i = 0; i < newField.length; i++) {
            var theName = newField[i].name
            if (theName)
                newField[i].name = theName + counter;
            newField[i].dataset.index = counter;
        }
        var insertHere = document.getElementById('writeroot');
        insertHere.parentNode.insertBefore(newFields, insertHere);
        counter++;
        totalLecture.value = counter;
    }

    function deleteField(btn) {
        console.log(btn)
        var updateField = btn.parentNode.parentNode;
        updateField = updateField.nextElementSibling;
        btn.parentNode.parentNode.parentNode.removeChild(btn.parentNode.parentNode);
        counter--;
        totalLecture.value = counter;
        // Update name of other fields
        while (updateField) {
            const fields = updateField.querySelectorAll(".clone-input-container > input")
            for (var i = 0; i < fields.length; i++) {
                var theName = fields[i].dataset.name;
                fields[i].dataset.index = parseInt(fields[i].dataset.index) - 1;
                fields[i].name = fields[i].dataset.name + fields[i].dataset.index;
                console.log(fields[i].name)
            }
            updateField = updateField.nextElementSibling;
        }
    }

    var currentShowSection = "basic-info"

    function changeSection(sectionIndex) {
        const sections = document.querySelectorAll(".create-course-section")
        sections.forEach((section) => {
            section.style.display = "none";
        })
        const showSection = document.getElementById(sectionIndex)
        showSection.style.display = "block";
        currentShowSection = sectionIndex
    }

    function changeSectionBtnDisplay() {
        const sections = document.querySelectorAll(".create-course-section")
        const showSection = document.getElementById(currentShowSection)
        const navBtn = document.querySelectorAll(".create-course-navigation")
        navBtn.forEach((btn) => {
            if (btn.dataset.sectionId == currentShowSection) {
                btn.style.opacity = 0.3
            }
            else {
                btn.style.opacity = 1.0
            }
        })

        const submitBtn = document.querySelector("#submitBtn")
        console.log(showSection)
        console.log(sections[sections.length - 1])
        if (showSection == sections[sections.length - 1])
        {
            submitBtn.disabled = false
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        totalLecture = document.querySelector("#total_lecture")
        const moreFieldBtn = document.querySelector('#more_fields');
        moreFieldBtn.addEventListener("click", moreFields);
        moreFields();

        const sections = document.querySelectorAll(".create-course-navigation")
        sections.forEach((btn) => {
            btn.onclick = () => {
                changeSection(btn.dataset.sectionId)
                changeSectionBtnDisplay()
            };
        })
        changeSection(sections[0].dataset.sectionId);
        changeSectionBtnDisplay()
    })

</script>
<h3 class="page-headline">- CREATE COURSE -</h3>
<!-- Create extendable form -->
<!-- https://www.quirksmode.org/dom/domform.html -->
<!-- Lecture form template -->
<div id="readroot" style="display: none">

    <div class="lecture-form-container">
        <legend>Lecture</legend>
        <i id="removeFieldBtn" class="fa-solid fa-trash trash-icon"></i>
        <div class="form-group clone-input-container">
            <input class="form-control" data-name="title" name="title" placeholder="Title" autocomplete="off">
        </div>
        <div class="form-group clone-input-container">
            <input class="form-control" data-name="video" name="video" type="text" placeholder="Lecture clip"
                autocomplete="off">
        </div>
        <div class="form-group clone-input-container">
            <input class="form-control-file" data-name="materials" name="materials" type="file" multiple>
        </div>
    </div>
</div>

<!-- Actual form -->
<div class="formucontainer">
    <form action="/create-course" method="post" enctype="multipart/form-data">
        <!-- Add basic info -->
        <div class="create-course-section" id="basic-info">
            <div class="form-group">
                <label for="course-title-input">Title</label>
                <input class="form-control" id="course-title-input" name="title" type="text" autofocus
                    autocomplete="off">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control long-form" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <select class="form-control" name="tag">
                    <option selected disabled>Tags</option>
                    {% for tag in tags %}
                    <option value="{{ tag }}"> {{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Intro video</label>
                <input class="form-control" name="intro_vdo" type="text" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Course banner</label>
                <input class="form-control-file" type="file" name="banner">
            </div>
        </div>
        <!-- Add Lectures -->
        <div class="create-course-section" id="lectures">
            <span id="writeroot"></span>
            <!-- <input type="button" id="more_fields" value="Add lecture" /> -->
            <div class="plus-container" id="more_fields">
                <i class="fa-solid fa-plus fa-2x plus-icon"></i>
            </div>
            <input type="hidden" id="total_lecture" name="total_lecture" value="0">
        </div>

</div>
<div class="create-course-nav-container">
    <div>
        <i class="fa-solid fa-angle-left fa-2xl create-course-navigation" data-section-id="basic-info"
            id="basic-info-nav"></i>
    </div>
    <div>
        <input type="submit" value="Publish course" id="submitBtn" disabled/>
    </div>
    <div>
        <i class="fa-solid fa-angle-right fa-2xl create-course-navigation" data-section-id="lectures"
            id="lectures-nav"></i>
    </div>
</div>
</form>

{% endblock %}