{% extends "layout.html" %}

{% block body %}
    <h3 class="page-headline">-Featured course-</h3>

    <div class="course-card-deck card-deck">
    {% for course in courses %}
        <div class="card course-card">
            <!-- <div class="card-img-container"> -->
                {% if course["banner"] %}
                <img class="card-img-top" src="../static/files/{{course['banner']}}" alt="course banner">
                {% else %}
                <img class="card-img-top" src="../static/img/banner-placeholder.jpg" alt="course banner">
                {% endif %}
            <!-- </div> -->
            <div class="card-body">
                <h5 class="card-title">{{ course["title"] }}</h5>
                <a class="class-link" href="course/{{ course['course_id'] }}">view detail</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}