{% extends "layout.html" %}

{% block body %}
    <h2>Featured course</h2>

    <div class="card-container card-deck">
    {% for course in courses %}
    <!-- TODO: make clickable card -->
        <div class="card course-card">
            <img class="card-img-top" src="../static/img/banner-placeholder.jpg" alt="course banner">
            <div class="card-body">
                <h5 class="card-title">{{ course["title"] }}</h5>
                <a class="class-link" href="course/{{course['course_id']}}">view detail</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}