:root {
    --primary: #F5F5F5;
    --secondary: #493988;
    --place-holder: #D9D9D9;
}

body {
    background: var(--primary);
}

.navbar, .navbar-container {
    background: var(--secondary);
}

.navbar {
    margin: 0;
    padding: 0;
}

.secondary-nav {
    margin-left:auto;
}

.course-card {
    max-width: 16rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.intro-video-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.intro-video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}